/* Animasi masuk dari kiri ke kanan */
.animate-intro-left {
  opacity: 1;
  animation: appearLeft 0.7s ease-in-out forwards;
}
.animate-intro-left2 {
  opacity: 1;
  animation: appearLeft 1.2s ease-in-out forwards;
}
.animate-exp-row {
  opacity: 1;
  animation: appearLeft 0.7s 0.5s ease-in-out forwards;
}
.animate-text-left1 {
  opacity: 1;
  animation: appearLeft 0.7s 0.9s ease-in-out forwards;
}
.animate-text-left2 {
  opacity: 1;
  animation: appearLeft 0.7s 1.2s ease-in-out forwards;
}
.animate-text-section {
  opacity: 1;
  animation: appearLeft 0.6s 0.9s ease-in-out forwards;
}
.animate-text-section2 {
  opacity: 1;
  animation: appearLeft 0.7s 1s ease-in-out forwards;
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  overscroll-behavior: none;
  scroll-padding-top: 150px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

body.container {
  max-width: 100%;
  padding: 0;
}

.nvbr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #ffffff;
  transform: translateY(10px);
  font-family: "Outfit", sans-serif;
  z-index: 9999;
}

.nav-link {
  color: #ffffff;
  transform: translateY(-3px);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white;
  opacity: 0.5;
}

.nav-link.scrolled {
  color: black;
}

.container {
  background-color: #e0e7e3;
}

.bg {
  width: 100%;
  height: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("img/bg.JPG");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  animation: parallax-top ease-in;
  animation-timeline: scrool();
  animation-range: cover;
  --parallax-speed-y: 17.5px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 700px;
  color: white;
  --parallax-speed-y: -17px;
}

.hero-text,
.hero-text-2 {
  flex: 1;
}

.hero-text {
  text-align: right;
  transform: translate(0%, -120%);
  margin: 0;
  padding: 0;
  font-size: auto;
  --parallax-speed-y: -7px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: -4px;
}

.hero-text h3 {
  font-size: 24px;
  opacity: 0.7;
  letter-spacing: -1px;
  --parallax-speed-y: -1px;
}

.hero-text .bi {
  font-size: 48px;
  display: block;
  margin-bottom: 8px;
  --parallax-speed-y: -17px;
}

.hero-text-2 {
  text-align: left;
  margin-right: 60px;
  transform: translate(5%, 90%);
  letter-spacing: 0.5px;
  --parallax-speed-y: 10;
}

.Bigname {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  transform: translate(0%, -115%);
  color: white;
  word-spacing: 2px;
  --parallax-speed-y: 7.8;
}

.inner {
  width: 100%;
  display: flex;
  white-space: nowrap;
  gap: 6rem;
  animation: loop 5s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  opacity: 0.2;
  font-size: 144px;
  border-radius: 0.9rem;
}

.tag span {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  margin-bottom: 20px;
}

.fade {
  position: absolute;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b
  );
  inset: 0;
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-104%);
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 170px;
  margin-top: 10vw;
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
  padding: 40px;
}

.introduce {
  flex: 1;
  margin-left: 60px;
  transition: none;
}

.introduce p {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-100px);
}

.experience {
  margin-top: 20px;
  padding-top: 20px;
  margin: 0 0 20px 0;
  opacity: 0;
  transform: translateX(-100px);
}

.experience h1 {
  font-size: 90px;
}

.experience p {
  font-size: 22px;
  line-height: 1.6;
  max-width: 700px;
}

.exp-row-dad {
  display: flex;
  gap: 10px;
  font-size: 14px;
  opacity: 0;
  transform: translateX(-100px);
}

.exp-row {
  flex: 1;
  display: block;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transform: translateX(-100px);
}
.exp-row-dad p {
  opacity: 0;
  transform: translateX(-100px);
}

.animate-exp-row-dad {
  opacity: 1;
  animation: appearLeft 1s 0.65s ease-in-out forwards;
}

.text-section {
  margin-top: 70px;
}

.text-section h4 {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(85, 85, 85, 0.7);
  margin-right: 590px;
  border-radius: 20px;
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 18px;
  opacity: 0;
  transform: translateX(-100px);
}
.text-section > div {
  opacity: 0;
  transform: translateX(-100px);
}

.text-section i {
  font-size: 32px;
  text-align: center;
  padding: 5px;
}

.image-section {
  border-radius: 3%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  opacity: 0;
  transform: translateX(100px);
  transition: none;
}
.animate-appearRight {
  opacity: 1;
  animation: appearRight 1s ease-in-out forwards;
}

.image-section img {
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: 0.25s ease-in-out;
}

.image-section:hover img {
  transform: scale(1.03);
  opacity: 0.9;
}

.portofolio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
  padding: 40px;
  margin-left: 60px;
  text-align: left;
  padding-left: 20px;
  display: block;
  margin-top: 250px;
}

.text-do {
  padding-right: 100px;
  margin-top: -80px;
}

.text-do h4 {
  font-size: 90px;
  text-align: right;
}

.text-do h6 {
  text-align: right;
  padding-right: 533px;
  margin-bottom: -18px;
}

.text-do h5 {
  margin-top: -20px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 100px;
}

.text-do h5 i {
  font-size: 24px;
  padding-right: 6px;
}

.img-pro {
  display: flex;
  padding-bottom: 60px;
  gap: 330px;
  align-items: center;
}

.img-pro h3 {
  opacity: 0.3;
}

.more h3 {
  margin-top: 300px;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 500px;
  margin-bottom: 350px;
  color: white;
  text-align: center;
}

.icon a i {
  color: white;
  font-size: 30px;
}

.icon a {
  transition: 0.2s ease-in-out;
}

.icon a:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
  opacity: 0.7;
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Tablet */
@media (max-width: 991px) {
  .about-image {
    max-width: 400px;
  }
}

/* HP */
@media (max-width: 767px) {
  .about-image {
    max-width: 300px;
  }
  .hero {
    margin: 3%;
  }
  .bg {
    width: 100%;
  }
  .hero-text-2 {
    margin: 0%;
  }
}
